<import src="/utils/templates.wxml"/>
<import src="/utils/audio.wxml"/>
<view wx:if="{{loaded}}">
  <template is="audio-new" data="{{globalData,...audio,height:page.audio.height}}"/>
  <view>



  </view>
</view>
