page {
  background-color: white;
}
.reply-button {
  width: 400rpx;
  height: 150rpx;
  line-height: 150rpx;
  text-align: center;
  border-style:solid;
  bordier-width: 1rpx;
  border-radius: 26rpx;
}
.article-button-icon {
  width: 1.5em;
  height: 1.5em;
}
.article-reply-panel {
  width:100%;
  /*height: 130rpx;*/
  background-color:white;
  opacity:1;
  position: fixed;
  bottom:0;
  border-top-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
}
.article-reply-panel-switch {
  width: 80rpx;
  height: 80rpx;
  margin: 20rpx;
}
.article-reply-panel-record {
  height: 80rpx;
  line-height: 80rpx;
  width: 400rpx;
  margin: 20rpx;
  text-align: center;
  border-style: solid;
  border-color: #e0e0e0;
  border-radius: 10px;
  border-width: 1px;
  color: grey;
}
.article-reply-panel-input {
  /*height: 80rpx;*/
  /*line-height: 80rpx;*/
  line-height: 1em;
  font-size: 40rpx;
  width: 400rpx;
  margin: 20rpx 20rpx 20rpx 10rpx;
  padding-bottom: 10rpx;
  border-bottom-style: solid;
  border-color: green;
  border-width: 1px;
}
.article-reply-panel-send {
  height: 80rpx;
  line-height: 80rpx;
  font-size: 80%;
  text-align: center;
  width: 100rpx;
  margin: 20rpx;
  padding: 0;
}
.article-reply-panel-ref {
}
.article-reply-panel-ref-content {
  background-color: #e0e0e0;
  padding-left: 10%;
  width: 90%;
}

.meeting_page {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color:white;
}
.meeting_title {
  font-size: 120%;
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 1em;
}
.meeting_div {
  width: 60%;
  margin-top: 1em;
  margin-left: 20%;
  margin-right: 20%;
  border-color: white;
  border-width: 5rpx;
}
.meeting_date {
  color: white;
  margin-left: 20%;
  font-size: 80%;
}

.article_button_panel {
  position: absolute;
  top: 550rpx;

}
.article_button {
  color: #fe2a14;
  border: solid 1rpx #fe2a14;
  height: 2em;
  line-height: 2em;
  text-align: center;
  width: 4em;
  border-radius: 1em;
}

.meeting_info {
  width: 100%;
  height: 550rpx;
}

.meeting_panel_label {
  line-height: 80rpx;
  height: 80rpx;
  width: 410rpx;
  margin: 20rpx;
}
.meeting_panel_button {
  margin: 20rpx 20rpx 20rpx 0;
  width: 4em;
}
.meeting_member_panel {
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.meeting_member_avatar {
  width: 100rpx;
  height: 100rpx;
  margin: 20rpx;
  margin-bottom:0;
  border-radius: 50%;
  border: solid 5rpx green;
  box-shadow: 5rpx 5rpx 5rpx #b0b0b0;
  overflow:hidden;
}
.attender {
  border-color: orange;
}
.viewer {
  border-color: #fe2a14;
}                   
.vacant {
  border-color: green;
}
.scheduled {
  border-color: grey;
}
.meeting_member_name {
  text-align: center;
}
.meeting_content {
  background-size:100%;
  background-repeat: no-repeat;
  /*margin: 25rpx;*/
  /*width: 650rpx;*/
  /*border: solid 5rpx #fe2a14;*/
  /*border-radius:20rpx;*/
  width: 620rpx;
  height: 800rpx;
  padding: 170rpx 70rpx 100rpx 60rpx;
  /*box-shadow: 5rpx 5rpx 20rpx grey;*/
  /*margin-bottom: 50rpx;*/
}
.meeting_image {
  width: 600rpx;
}

.meeting_stream {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 540rpx;
  height: 720rpx;
  border: solid 105rpx white;
}
.meeting_stream_pusher {
  width: 540rpx;
  height: 720rpx;
}
.meeting_stream_button {
  margin-top: 1em;
  text-align: center;
  align-items: center;
}
.meeting_stream_live {
  width: 80rpx;
}
.meeting_stream_label {
  font-weight: bold;
  color: white;
}



