.photo_banner {
  position: relative;
  width: 100%;
  height: 300rpx;
}
.photo_banner_bg {
  width:100%;
  height:100%;
  filter: blur(5px);
}
.photo_banner_text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}
.photo_banner_title {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}
.photo_banner_desc {
  font-size: 80%;
}
.photo_banner_count {
  font-size: 80%;
  margin-top: 2em;
  display: flex;
}
.photo_body {
  margin: 10rpx;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.photo_body_cell {
  margin: 10rpx;
  width: 345rpx;
}
.photo_single_image {
  width: 100%;
}
.photo_single_serial {
  position: absolute;
  right:1em;
  top:1em;
}
.photo_single_serial_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .5;
}
.photo_single_serial_text {
  color: white;
  margin-left: .5em;
  margin-right: .5em;
}
.photo_nav {
  margin: 100rpx 20rpx 0 20rpx;
  height: 100rpx;
  background-color: white;
  border-radius: 5rpx;
  display: flex;
  align-items: center;
}
