/* pages/content/stream.wxss */
.stream_player {
  width: 100%;
  height: 100%;
  position: relative;
}
.stream_pusher {
  width: 100%;
  height: 100%;
  position: relative;
}
.left_panel {
  width: 90%;
  height: 140px;
  padding-right:10%;
  position:absolute;
  bottom:30px;
  display:flex;
  flex-direction:row;
  flex-wrap: no-wrap;
  justify-content: flex-end;
  align-items: flex-end;
}
.left_box
{
  position: relative;
  height: 50px; 
  width: 30px; 
  padding-left: 15px;
  padding-right: 15px;
  align-items: flex-start;
  justify-content: flex-start;
}
.left_box_fat {
  position: relative;
  height: 140px;
  width: 60px; 
  /*align-items: center;*/
}

.left_button
{
  display:inline-block;
  width: 30px; 
  height: 30px; 
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.left_button :active{
  opacity:0.55;
}
.bottom_button_image {
  position: absolute;
  bottom: 20px;
  width: 30px; 
  height: 30px; 
}
.bottom_button_text {
  position: absolute;
  bottom: 0;
  width: 30px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: white;
}
.right_live {
  width: 170px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.recording {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  left: 27px;
  top: 32px;
}

.left_text {
  display:inline-block;
  color: #ffffff;
  height: 100%;
  font-size:10px;
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
}
.left_options {
  width: 60px;
  text-align: center;
  color: white;
  font-size: 15px;
  line-height: 30px;
  height: 30px;
}
.bottom_options_panel {
  position: absolute;
  bottom: 50px;
  width:60px;
  height: 90px;
  background-color: #404040;
  border-radius: 10px;
  align-items: center;
}
.stream_player_button {
  position: absolute;
  left: 50%;
  top: 200rpx;
}
.player_title {
  position: absolute;
  top: 1em;
  left: 1em;
  color: orange;
}
.fullscreen_button {
  position: absolute;
  top: 2em;
  right: .5em;
  width: 3em;
  height: 1.4em;
  line-height: 1.4em;
  border-radius: .7em;
  text-align: center;
  color:white;
  background-color: black;
}
.player_page {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: 100%;
  background-color: #ef4f01;
}
.player_image_nostream {
  width: 350rpx;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
}
.comment_list {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 70%;
  overflow-y: scroll;
}
.comment_box {
  position: relative;
  margin: .5em 0 0 .5em;
  font-size: 20px;
}
.transparent_bg {
  position: absolute;
  border-radius: .5em;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .2;
}
.comment_fg {
  border-radius: .5em;
}
.warning {
  color: orange;
  font-size: 17px;
  white-space:normal;
  word-wrap:break-word;
  word-break:normal;
  padding: .2em .5em .2em .5em;
}
.comment {
  /*padding: .2em .5em .2em .5em;*/
  padding: 3px 7px 3px 7px;
  display: flex;
  align-items: flex-start;
}
.player_comment_avatar {
  margin-left: 20rpx;
  width: 50rpx;
  height: 50rpx;
  border-radius: 50%;
}
.player_comment_hint {
  font-size: 17px;
  color: green;
  white-space:normal;
  word-wrap:break-word;
  word-break:normal;
}
.player_comment_name {
  min-width: 4em;
  overflow: hidden;
  color: orange;
  font-size: 14px;
}
.player_comment_content {
  color: white;
  font-size: 14px;
  margin-left: .2em;
  white-space:normal;
  word-wrap:break-word;
  word-break:normal;
}
.comment_panel {
  position: absolute;
  bottom:0;
  width: 100%;
  min-height: 40px;
  /*margin: 5px 5% 5px 5%;*/
}
.comment_panel_content {
  position: relative;
  width: 100%;
  align-items: flex-end;
}
.comment_panel_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .2;
}
.comment_button {
  height:100%;
  width:100%;
  position:relative;
}
.comment_button_bg {
  position: absolute;
  left:0;
  top: 0;
  height: 28px;
  width: calc(100% - 2px);
  border-radius: 20px;
  border: solid 1px orange;
  background-color: black;
  line-height: 28px;
  opacity: .2;
}
.comment_button_fg {
  position: absolute;
  left:0;
  top: 0;
  color: orange;
  height: 28px;
  width: calc(100% - 2px);
  border-radius: 20px;
  border: solid 1px orange;
  text-align: center;
  line-height: 28px;
  font-size: 17px;
}
.comment_input {
  position: absolute;
  height: 0;
}
.comment_panel_text {
  color: white;
  margin: 5px 5% 14px 5%;
  width: 70%;
  min-height: 30px;
  line-height: 30px;
  word-wrap:break-word;
  word-break:normal;
  align-items: center;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: orange;
}
.comment_panel_submit {
  color: orange;
  margin: 5px 5% 15px 0;
  width: 15%;
  height: 28px;
  border: solid 1px orange;
  border-radius: 15px;
  text-align: center;
  line-height: 28px;
}
.comment_echo_cursor {
  border: solid 1px white;
  width: 0;
  height: 1em;
}
