.badge-rd {
  position: absolute;
  width: 40rpx;
  height: 40rpx;
  bottom: -.4em;
  right: -.4em;
  display: inline-block;
  padding: .15em .4em;
  min-width: 8px;
  border-radius: 2px;
  background-color: white;
  color: #FFFFFF;
  line-height: 1.2;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;    
}
.image-banner {
  width: 750rpx;
  height: 360rpx;
}
.grid-cell-3 {
  width: 250rpx;
}
.grid-cell-4 {
  width: 187rpx;
}
.center {
  width:100%;
  text-align:center;
}
.text70 {
  font-size: 70%;
  color: #808080;
}
.text80 {
  font-size: 80%;
}
.text85 {
  font-size: 85%;
}
.image-grid {
  width: 100rpx;
  height: 100rpx;
  margin-top:40rpx;
  border-radius:50%;
}
.image_grid_ring {
  width: 100rpx;
  height: 100rpx;
  border-style: solid;
  border-color: white;
  border-width: 10rpx;
  border-radius: 50%;
  margin-top: 30rpx;
  box-shadow: 5rpx 5rpx 5rpx #b0b0b0;
}
.image-tiny {
  width: 50rpx;
  height: 50rpx;
  border-radius:50%;
  text-align: center;
  margin:20rpx;
}               
.wodejifen {
  font-size: 85%;
  background-color:#e8e8e8;
  border-top:10px;
  align-items:center;
  color: #808080;
  /*border-style:solid;
  border-width:1px;
  border-color:#f0f0f0;
  box-shadow: 5rpx 5rpx 5rpx #b0b0b0;*/
}
.div-ver {
  margin-left: 15rpx;
  border-style:solid;
  border-width:1px;
  border-color:#c0c0c0;
  height:40rpx;
}
.div-ver-1px {
  border-left-style:solid;
  border-width:1px;
  border-color:#c0c0c0;
}
.div-hor {
  margin-left:25rpx;
  border-top-style:solid;
  border-width:1px;
  width: 700rpx;
  border-color:#c0c0c0;
}
.div-hor__full {
  border-top-style:solid;
  border-color:#c0c0c0;
  border-width:1px;
  width:100%;
}
.comment-title {
  width: 100%;
  /*height: 140rpx;*/
  margin: 10rpx;
}
.comment-title__info {
  height: 50rpx;
  font-size: 60%;
}
.comment-title__info_text {
  margin-left: 10rpx;
  margin-right: 10rpx;
  line-height: 50rpx;
  height: 50rpx;
}
.comment-title__abstract {
  /*height: 90rpx;*/
  font-size: 80%;
}
.comment-reply {
  width: 100rpx;
}
.comment-reply__info {
  height: 50rpx;
  font-size: 60%;
}
.comment-reply__button {
}
.news-icon {
  width: 80rpx;
  height: 80rpx;
  margin: 20rpx;
  border-radius: 20rpx;
}
.news-image {
  width: 180rpx;
}
.news-title {
  width: 490rpx;
  margin-right: 20rpx;
}

.bg-e8 {
  background-color: #e8e8e8;
}
.bg-f0 {
  background-color: #f0f0f0;
}
.user_avatar_big_placeholder {
  margin-top: 30rpx;
  height: 180rpx;
}
.user_avatar_big_border {
  margin-top: 30rpx;
  width: 180rpx;
  height: 180rpx;
  opacity: 0.5;
  background-color: white;
  position: absolute;
  border-radius: 90rpx;
  top:0;
  left: 50%;
  transform: translateX(-50%);
  z-index:1;
}
.user_avatar_big {
  margin-top: 40rpx;
  width: 160rpx;
  height: 160rpx;
  border-radius: 80rpx;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity:1;
  z-index:100;
}
.avatar-big {
  width: 160rpx;
  height: 160rpx;
/* opacity: 0.5;*/
  position: absolute;
  border-radius: 90rpx;
  border-width:10rpx;
  border-style:solid;
  border-color:#ffffff80;
 /* box-shadow: 10rpx 10rpx 10rpx white;*/
}
.meeting-item {
  padding-top: 20rpx;
  align-items: center;
}
.meeting-title {
  margin-left: 40rpx;
  min-height: 1.2em;
  max-height: 2.4em;
  line-height: 1.2em;
  white-space:normal;
  word-wrap:break-word;
  word-break:normal;
  overflow: hidden;
  text-overflow:ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.meeting-info {
  font-size: 70%;
  color: grey;
  margin-left: 40rpx;
  margin-right: 40rpx;
}
.date-icon {
  margin-left: 30rpx;
  width: 120rpx;
  height: 120rpx;
  border-radius: 20rpx;
  background-color: orange;
  color: white;
  box-shadow: 5rpx 5rpx 5rpx #888888;
}
.date-icon__top {
  padding-top:5rpx;
  line-height:90%;
  font-size: 60%;
  text-align: center;
}
.date-icon__middle {
  height: 60rpx;
  font-size: 120%;
  text-align: center;
}
.date-icon__bottom {
  font-size: 60%;
  text-align: center;
}
.meeting-button {
  margin: 40rpx;
  background-color: white;
  border-radius: 10rpx;
  box-shadow: 0 0 20rpx #000000 inset;
}
.meeting-button__item {
  text-align: center;
  width: 327rpx;
  height: 240rpx;
}
.meeting-button__icon {
  padding-top: 50rpx;
  width: 100rpx;
  height: 100rpx;
}
.meeting-button__label {
}
.table-cell {
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  font-size: 80%;
  text-align: center;
}
.table-label {
  font-weight: bold;
}
.table-cell__small {
  width: 140rpx;
}
.table-cell__left {
  width: 190rpx;
}
.top20 {
  margin-top:20rpx;
}
.article-thumbs {
  .width: 180rpx;
}
.article-title {
}
.article-time {
}
.searchbar-result{
    margin-top: 0;
    font-size: 14px;
}
.searchbar-result:before{
    display: none;
}
.weui-cell{
    padding: 12px 15px 12px 35px;
}
.column-banner {
  width: 100%;
  height: 300rpx;
  vertical-align: center;
}
.column-swiper-title__bg {
  position:absolute;
  padding-left: 1em;
  width: 100%;
  font-size:14px;
  line-height:1.5em;
  height: 1.5em;
  bottom: 0;
  text-align: center;
  opacity: .5;
  background-color: #000000;
  color: white;
}
.column-swiper-indicator {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 6px;
}
.column-swiper-title {
  position:absolute;
  margin-left: 1em;
  font-size: 14px;
  width: 100%;
  height: 1.5em;
  bottom: 0;
  text-align: left;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  /*opacity: .5;*/
  color: white;
}
.list-article-image {
  width: 100%;
  height:100%;
  vertical-align: top;
}
.list-article {
  background-color: white;
}
.list-article-thumb {
  margin-right:.8em;
  width:160rpx;
  height:120rpx;
  line-height:60px;
  text-align:center;
}
.list-article-title {
  font-weight:400;
  font-size:17px;
  line-height:1.3em;
  height: 2.6em;
  /*width:auto;*/
  overflow:hidden;
  /* text-overflow:ellipsis; */
  /*white-space:nowrap;*/
  white-space:normal;
  word-wrap:normal;
  word-wrap:break-word;
  word-break:normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.user-score-tag {
  width: 120rpx;
  margin: 0;
  font-size: 70%;
  color: #808080;
  white-space:nowrap;
}
.user-score-title {
  width: 430rpx;
  padding: .5em 0;
  font-size: 80%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.user-score-score {
  margin:25rpx;
  width: 50rpx;
  height: 50rpx;
  line-height: 50rpx;
  border-radius: 25rpx;
  color: white;
  font-size: 80%;
  margin: 0;
  text-align: center;
  white-space:nowrap;
}

.article-nav {
  position: fixed;
  bottom: 0;
  opacity: 1;
/*  background-color: #c0c0c0; */
  width: 100%;
  height: 1.4em;
/*  box-shadow: 0 -5px 5px #c0c0c0;*/
}

.badge-meeting {
  font-size: 50%;
  margin-right: 40rpx;
  min-width:4em;
  width: 4em;
  height: 2em;
  text-align: center;
  line-height:2em;
  border-radius: 1em;
  align-items:center;
  box-shadow: 2px 2px 5px #b0b0b0;
}
.badge-meeting__present     {background-color:green  ;color:white}
.badge-meeting__read        {background-color:green  ;color:white}
.badge-meeting__vacant      {background-color:orange ;color:white}
.badge-meeting__absent      {background-color:red    ;color:white}
.badge-meeting__join        {background-color:orange ;color:white}
.badge-meeting__preparing   {background-color:orange ;color:white}
.badge-meeting__registering {background-color:orange ;color:white}
.badge-meeting__going       {background-color:orange ;color:white}
.badge-meeting__sum         {background-color:orange ;color:white}
.badge-meeting__expired     {background-color:#808080;color:white}
.badge-meeting__ready       {background-color:green  ;color:white}
.badge-meeting__error       {background-color:red    ;color:white}
.media-box__title {
  font-weight:400;
  font-size:17px;
  /*overflow:hidden;*/
  /*text-overflow:ellipsis;*/
  white-space:nowrap;
  word-wrap:normal;
  word-wrap:break-word;
  word-break:break-all
}

.bottom-nav {
  height: 120rpx;
  line-height: 120rpx;
  border-top-style: solid;
  border-width: 1px;
  border-color:#c0c0c0;
  background-color: #e8e8e8;
  width: 100%;
  position: fixed;
  bottom: 0
}
.bottom-nav-tab {
  width: 50%;
  align-items:center;
}
.user-page {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position:0 -50rpx;
}
.grey {
  color: grey;
}
