<import src="/utils/templates.wxml"/>
<import src="/utils/audio.wxml"/>
<view wx:if="{{loaded}}">
  <template is="audio-new" data="{{globalData,...audio,height:page.audio.height}}"/>
  <!-- 搜索框 -->
  <template is="search" data="{{...search}}"/>

<!-- 文章列表 -->
  <view class="album_list">
    <block wx:for="{{nodes}}" wx:key="id">
      <view class="album_list_title"
        >{{item.title}}</view>
      <view class="album_list_time"
        >{{item.displayTime||item.createTime}}</view>
      <view class="album_list_window">
        <navigator style="width:100%;height:100%;position: relative"
          url="/pages/content/photo?id={{item.id}}"
          >
          <image class="album_list_cover"
            mode="aspectFill"
            wx:if="{{item.photos.length}}"
            src="{{globalData.baseUrl}}/thumbs/{{item.photos[0]}}.jpg"
            />
          <image class="album_list_first"
            mode="aspectFill"
            wx:if="{{item.photos.length > 1}}"
            src="{{globalData.baseUrl}}/thumbs/{{item.photos[1]}}.jpg"
            />
          <image class="album_list_more"
            mode="aspectFill"
            wx:if="{{item.photos.length > 2}}"
            src="{{globalData.baseUrl}}/thumbs/{{item.photos[2]}}.jpg"
            />
          <view class="album_list_count"
            >{{item.photos.length}}</view>
        </navigator>
      </view>
    </block>
  </view>

  <!-- 加载提示 -->
  <view class="center text70" style="background-color:#e8e8e8">
    <view wx:if="{{loadPending}}"
      >加载中……</view>
    <view wx:else>
      <view wx:if="{{request.len>=request.limit}}"
        >上拉加载更多</view>
      <view wx:else>下面没有了</view>
    </view>
  </view>
</view>
