.due_page {
  width: 100%;
  background-color: #ff4239;
}
.due_avatar {
  margin-top: 50rpx;
  margin-left: 50rpx;
  width: 100rpx;
  height: 100rpx;
  border-radius: 50%;
  overflow:hidden;
}
.due_avatar_image {
  width: 100%;
}
.due_top_panel {
  width: 100%;
  height: 1207rpx;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.due_top_panel_price {
  width: 100%;
  text-align: center;
  margin-top: 70rpx;
  color: #ff4239;
  font-size: 200%;
}
.due_top_panel_button {
  text-align: center;
  margin-top: 15rpx;
  width: 50%;
  height: 92rpx;
  line-height: 92rpx;
  background-color: #ff4239;
  color:white;
  border-radius: 46rpx;
}
.due_history {
  margin-top: 250rpx;
  margin-left: 120rpx;
  margin-right: 100rpx;
  font-size: 80%;
  width: 590rpx;
  color: #58585d;
  height: 300rpx;
}
.due_history_list {
  height: 2em;
  line-height: 2em;
  align-items: center;
}
.due_history_list_info {
  width: 470rpx;
  font-size: 28rpx;
}
.due_history_list_info_date {
  width: 250rpx;
}
.due_history_list_info_price {
  width: 120rpx;
  color: #cc3d00;
}
.due_history_list_info_state {
  text-align: right;
  width: 80rpx;
}
.due_history_list_checkbox {
  text-align: right;
  width: 80rpx;
}
