<import src="/utils/templates.wxml"/>
<import src="/utils/audio.wxml"/>
<view wx:if="{{ready&&loaded}}">
  <template is="audio-new" data="{{globalData,...audio,height:page.audio.height}}"/>
  <template is="search" data="{{...search}}"/>
  <!-- 组织路径 -->
  <scroll-view class="org-path"
    scroll-x="{{true}}"
    >
    <block wx:for="{{path}}" wx:key="*this">
      <block wx:if="{{index!==path.length-1}}">
        <text class="org-path-label org-path-label-active" 
          bindtap="tapPath" id="{{index}}"
          >{{label[index]}}</text>
        <text> > </text>
      </block>
      <block wx:else>
        <text class="org-path-label">{{label[index]}}</text>
      </block>
    </block>
  </scroll-view>

  <view class="div-hor__full" style="width:100%;margin:0;border-width:1px;height:0"/>

  <scroll-view style="width:100%;height:{{listHeight}}px" scroll-y="{{true}}" >
    <block wx:for="{{curNode.nodes}}" wx:key="id">
      <view class="weui-panel__bd">
        <view bindtap="tapNode" 
          id="{{index}}" 
          class="weui-media-box weui-media-box_appmsg" 
          hover-class="weui-cell_active">
          <view class="weui-media-box__hd weui-media-box__hd_in-appmsg">
            <image class="weui-media-box__thumb" 
              src="{{item.icon?globalData.baseUrl+'/thumbs/'+item.icon+'.jpg':globalData.fallbackEmblem}}" />
          </view>
          <!--<view class="weui-media-box__bd weui-media-box__bd_in-appmsg">
          <view class="media-box__title">{{item.name}}</view>
        </view>
        -->
          <view class="media-box__title">{{item.name}}</view>
          <view class="weui-flex__item"/>
          <image src="{{globalData.baseUrl}}/more.png" style="width:2em;" mode="widthFix"/>
        </view>
      </view>
      <view class="div-hor" style="width:725rpx;margin:0;margin-left:25rpx"/>
    </block>
    <block wx:if="{{!curNode.nodes.length}}"> <!-- 非叶子节点的成员不显示 -->
      <block wx:for="{{curNode.members}}" wx:key="id">
        <view class="weui-panel__bd"
          wx:if="{{!item.fake}}">
          <view 
            bindtap="tapMember" 
            id="{{item.id}}" 
            class="weui-media-box weui-media-box_appmsg" 
            hover-class="weui-cell_active">
            <view class="weui-media-box__hd weui-media-box__hd_in-appmsg org_image"
              style="position: relative"
              >
              <image class="weui-media-box__thumb org_avatar" src="{{item.avatarUrl||(item.gender=='F'?globalData.fallbackAvatarUrlWoman:globalData.fallbackAvatarUrlMan)}}"/>
              <view class="weui-badge org_badge"
                wx:if="{{item.class||item.rank}}"
                >{{item.class||item.rank}}</view>
            </view>
            <view 
              class="weui-media-box__title">{{item.name}}</view>
            <view class="weui-flex__item"/>
            <view class="org_score">{{item.score}}分</view>
            <image src="/icon/dot.png" 
              catchtap="tapDots"
              id="{{item.tel}}"
              style="width:1.5em;" mode="widthFix"/>
          </view>
        </view>
        <view class="div-hor" style="width:725rpx"/>
      </block>
    </block>
  </scroll-view>

  <view class="bottom-nav weui-flex">
    <view class="bottom-nav-tab weui-flex">
      <view class="weui-flex__item"/>
      <image wx:if="{{tab}}" 
        style="width:1em"
        mode="widthFix"
        src="/icon/bottom-menu/org1.jpg"/>
      <image wx:else 
        style="width:1em"
        mode="widthFix"
        src="/icon/bottom-menu/org.jpg"/>
      <view style="margin:.25em"/>
      <view style="color:{{tab?'black':'red'}}">组织机构</view>
      <view class="weui-flex__item"/>
    </view>
    <view class="div-ver-1px" style="margin:0 .2em"/>
    <view class="bottom-nav-tab weui-flex"
      bindtap="myProfile">
      <view class="weui-flex__item"/>
      <image wx:if="{{tab}}"
        style="width:1em"
        mode="widthFix"
        src="/icon/bottom-menu/my.jpg"/>
      <image wx:else 
        style="width:1em"
        mode="widthFix"
        src="/icon/bottom-menu/my1.jpg"/>
      <view style="margin:.25em"/>
      <view style="color:{{tab?'red':'black'}}">我的档案</view>
      <view class="weui-flex__item"/>
    </view>
  </view>

</view>
