<import src="../../utils/templates.wxml"/>
<import src="../../utils/audio.wxml"/>
<view wx:if="{{loaded}}">
  <template is="audio-new" data="{{globalData,...audio,height:page.audio.height}}"/>
  <view class="user-page"
    style="background-image:url('{{globalData.baseUrl}}/top.png');background-color:#f0f0f0">
    <view class="center" style="padding-top:70rpx;color:white;text-shadow:5px 5px 5px black">
      <view>{{info.orgName}}</view>
      <view>{{info.name}}</view>
      <view style="position: relative">
        <view class="user_avatar_big_border"/>
        <image class="user_avatar_big" src="{{globalData.userInfo.avatarUrl||(globalData.userInfo.appUser.gender == 'F'?globalData.fallbackAvatarUrlWoman:globalData.fallbackAvatarUrlMan)}}"/>
        <view class="user_avatar_big_placeholder"/>
      </view>
    </view>

    <view class="weui-flex" style="margin-left:10rpx;margin-right:10rpx;">
      <view class="center">
        <view style="color:orange">{{globalData.userInfo.appUser.partyStanding}}</view>
        <view class="text80">党龄</view>
      </view>
      <view class="weui-flex__item"/>
      <view class="center">
        <view style="color:orange">{{yScore}}</view>
        <view class="text80">年度积分</view>
      </view>
      <view class="weui-flex__item"/>
      <view class="center">
        <view style="color:orange">No.{{yRank}}</view>
        <view class="text80">积分排名</view>
      </view>
    </view>

    <view class="div-hor"/>

    <block wx:for="{{detail}}" wx:key="id">
      <template is="user-score-detail" data="{{...item}}"/>
    </block>

  </view>

</view>
